<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <h1><%= headertitle %></h1>
  </header>
  <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="">
        <button type="button">次へ</button>
      </a>
    </div>
  </body>
</html>
