<!DOCTYPE html>
<html>
    <head>
        <title><%= mainTitle %></title>
        <link rel='stylesheet' href='/stylesheets/mainStyle.css' />
    </head>
    <header></header>
    <body>
        <h1><%= main %></h1>
    </body>
</html>