<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheet/top.css" />
    <title>FitnessShareApp</title>
</head>

<header>
    <div class="hedader-top">
        <div class="headerContainer">
            <div class="logo">
                <span>FitnessShareApp</span>
            </div>
            <div class="logo">
                <button class="login-btn">Login</button>
            </div>
            <div class="header-body">
                <div class="header-bodyContainer">
                    <a href="./top.html">Home</a>
                </div>
                <div class="header-bodyContainer">
                    <a href="#">記録</a>
                </div>
                <div class="header-bodyContainer">
                    <a href="#">タイムライン</a>
                </div>
                <hr />
            </div>
        </div>
    </div>
</header>
<body>
    <div class="bodyContainer">
        <div class=""></div>
    </div>
    <script src="../../public/javascript/top.js"></script>
</body>
</html>