<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheet/Utility.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <title>Document</title>
</head>
    <body>
        <header>
            FitnessShareApp
            <form id="form" action="">
                <div>
                    <input id="mon" type="text" value="" />
                    <input id="tue" type="text" value="" />
                    <input id="wed" type="text" value="" />
                    <input id="thu" type="text" value="" />
                    <br />
                    <input id="fri" type="text" value="" />
                    <input id="sat" type="text" value="" />
                    <input id="sun" type="text" value="" />
                    <input id="btn" type="button" value="送信" />
                </div>
            </form>
        </header>
            <nav>left</nav>
            <main>
                <canvas id="myChart"></canvas>
                <script src="../../public/javascript/chart.js"></script>
            </main>
        <footer>footer</footer>
    </body>
</html>